.news-source-container {
    background-color: #ffffff;

    h2 {
        color: #3e4d60;
    }
    .news-source-description {
        min-height: 100px;
        color: #8c94a8;
    }
    .news-source-category {
        color: #3e4d60;
    }
}
